body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: white;
  text-align: center;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adatta le card su tutta la larghezza */
  gap: 15px;
}

.card {
  width: 100%;
  height: 80px; /* Altezza più corta */
  background-color: #333;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.card h5 {
  position: absolute;
  top: 20px;
  left: 30px;
  margin: 0;
  font-size: 23px;
  font-weight: bold;
  text-align: left;
}

.card img {
  width: 40%; /* Dimensione regolabile */
  height: auto;
  display: block;
  position: absolute;
  bottom: -0px; /* L'immagine ora è più bassa */
  right: 0;
  transform: rotate(15deg);
  transform-origin: bottom right;
}
