@import "./partials/bootstrap-overrides.scss";
aside {
  background-color: #121212;
  color: white;
  height: 100%;
}
.bg-new {
  background-color: #292929 !important;
}

.mark:hover {
  background-color: #424242 !important;
}
.search-nav-focus {
  border: 2px solid white;
}
.nav-btn {
  width: 48px;
  height: 48px;
  background-color: #292929 !important;
}
.nav-btn:hover {
  width: 48px;
  height: 48px;
  background-color: #424242 !important;
  svg {
    fill: white;
  }
}
#src-nav-form {
  width: 310px;
}

#searchbar {
  background-color: #292929;
}
svg {
  width: 1rem;
  fill: #b3b3b3;
}

svg:hover {
  transform: scale(1.05);
  fill: white;
}
#src-library {
  width: 80%;
}
input[type="search"]:focus {
  box-shadow: none;
}
.library-card:hover {
  background-color: #424242;
}

#track-time,
#track-max {
  font-size: 12px;
}
#play-title {
  font-size: 19px;
}
#play-artist {
  font-size: 1rem;
}
#play-title:hover,
#play-artist:hover {
  text-decoration-color: white !important;
}

.svgFill {
  fill: #1ed760 !important;
}
